<!DOCTYPE html>
<html lang="en">
  <head>
    <% include partials/_head %>
  </head>

  <body>
    <div id="wrapper">
    <% if (!userId) { %>
      <h1>Not Logged In</h1>
      <hr>
      <form action="/login" method="GET" class="text-form header-text">
        <input class="button" type="submit" value="Login">
      </form>
      <form action="/register" method="GET" class="text-form header-text">
        <input class="button" type="submit" value="Register">
      </form>
    <% } else if (userId !== database[shortURL].id) { %>
      <% include partials/_header %>
      <hr>
      <h1>Not Your URL</h1>
      <hr>
    <% } else { %>
      <% include partials/_header %>
      <hr>
      <table>
        <tr><th colspan="4">Shortened URL</th></tr>
        <tr>
          <td><a href="/u/<%= shortURL %>"><%= shortURL %></a></td>
          <td><%= urls[shortURL].long %></td>
          <td>Clicks: <%= urls[shortURL].clicks %></td>
          <td>Unique Visitors: <%= urls[shortURL].visitors.length %></td>
        </tr>
      </table>
      <form action="/urls/<%= shortURL %>?_method=PUT" method="POST" class="text-form">
        <label class="text-input" for="<%= shortURL %>">Edit this URL:</label>
        <input class="text-input" id="<%= shortURL %>" type="text" name="<%= shortURL %>" placeholder="www.example.ca">
        <input class="button" type="submit" value="Submit">
      </form>
      <table>
        <tr>
          <th colspan="2">Visits</th>
        </tr>
        <% for (let i = 0; i < urls[shortURL].visits.length; i++) { %>
        <tr>
          <td><%= urls[shortURL].visits[i] %></td>
        </tr>
        <% } %>
      </table>
    <% } %>
      <p><a href="/urls">Back to URLs</a></p>
    </div>
  </body>
</html>