<!DOCTYPE html>
<html lang="en">
  <head>
    <% include partials/_head %>
  </head>

  <body>
    <div id="wrapper">
      <% include partials/_header %>
      <table>
        <tr><th colspan="2">Shortened URL</th></tr>
        <tr>
          <td><a href="/u/<%= shortURL %>"><%= shortURL %></a></td>
          <td><%= urls[shortURL] %></td>
        </tr>
      </table>
      <form action="/urls/<%= shortURL %>" method="POST" class="text-form">
        <label class="text-input" for="<%= shortURL %>">Edit this URL:</label>
        <input class="text-input" id="<%= shortURL %>" type="text" name="<%= shortURL %>" placeholder="http://www.example.ca">
        <input class="button" type="submit" value="Submit">
      </form>
      <p><a href="/urls">Back to URLs</a></p>
    </div>
  </body>
</html>